# =================================
# Example Environment Variables
# =================================
#
# Copy this file to .env and fill in your actual values.
# Do NOT commit the .env file to version control.

# -- General App Configuration --
PORT=3000

# -- Primary Application Database --
APP_DB_HOST=
APP_DB_PORT=
APP_DB_USER=
APP_DB_PASSWORD=
APP_DB_DATABASE=

# -- Secondary DataMart Database --
DATAMART_DB_HOST=
DATAMART_DB_PORT=
DATAMART_DB_USER=
DATAMART_DB_PASSWORD=
DATAMART_DB_DATABASE=
